version: "3.8"
services:
  lambda-local:
    build: .
    environment:
      SNS_TOPIC_ARN: arn:aws:sns:sa-east-1:000000000000:feedback-topic
      AWS_REGION: sa-east-1
      AWS_DEFAULT_REGION: sa-east-1
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      LOCALSTACK_HOST: localstack
    ports:
      - "9000:8080"
    depends_on:
      - localstack
    volumes:
      - ./backend:/var/task/backend
      - ./mock_lambda:/var/task/mock_lambda

  localstack:
    image: localstack/localstack:latest
    environment:
      SERVICES: sns,dynamodb
      EDGE_PORT: 4566
    ports:
      - "4566:4566"
